{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block main %}

    <h1>Products Page ✅</h1>
    <a href="{{ path('app_product_new') }}" class="btn btn-primary">Create New</a>
    <div class="d-flex flex-wrap">
        {% for product in products %}
            <div class="card m-2" style="width: 18rem;">
                <img src="https://via.placeholder.com/200x150.png/005544/010101?text=Image {{ product.name }}" class="card-img-top"
                     alt="...">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">{{ product.price | number_format(2) }}€</p>
                    <a href="{{ path('app_product_details', {'id' : product.id}) }}" class="btn btn-primary mt-auto">Details</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
